html{
	  scroll-behavior: smooth;
}

body{
	font-family: 'Montserrat', sans-serif !important;
}

.diff-font{
	font-family: 'Permanent Marker', cursive;
	font-size: 1.5rem;
}

.mobile-header{
	line-height: 3.5rem;
  letter-spacing: -4px;
  background-color: #1010104d;
}

#navbar{
  background-color: transparent;
  position: fixed;
  top: 0;
  width: -webkit-fill-available;
  z-index: 100;
  transition: top 0.3s;
}

#navbar a {
  color: black;
}

li{
	list-style-type: none !important;
}

.dropdown-menu{
	left: unset !important;
	right:8px;
}

.header-pic-1{
	background-image: url('./assets/profile.jpg');
	height: 100vh;
	background-attachment: fixed;
  background-size: cover;
}

@media (min-width: 1025px){
	.header-pic-1{
		 background-size: contain;
	}
}


.header-pic-2{
	background-color: yellow;
	height: 100vh;
}

.header-text-lg{
  color: black;
  font-size: -webkit-xxx-large;
 	line-height: 0.8;
}

.header-text-sm{
  color: white;
  font-size: -webkit-xxx-large;
 	line-height: 0.8;
}

.font-medium{
	font-size: medium;
}

.font-xx-large{
	font-size: xx-large;
}

.font-larger{
	font-size: larger;
}

.icon-width{
	min-width: 4rem;
}

.icon-width img{
		max-width: 80px;
		height: 32px;
		margin-bottom: 0.3rem;
}

#carouselOne{
	max-width: 350px;
}

#carouselTwo, #carouselThree{
	max-width: 28rem;
	height: max-content;
}


.carousel-control-next-icon{
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23b9b9b9' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e") !important;
}

.carousel-control-prev-icon{
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23b9b9b9' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e") !important;
}

.carousel-indicators li{
	background-color: #6f6f6f !important;
}

a{
	color: black !important;
}

footer{
	width: 100%;
	margin-top: 5rem;
	color: #808080e6;
	background-color: #ffff00;
	text-align: center;
}